<header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              Welcome Friend!
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">
                <strong>Dear Friend!</strong> I am so <u>appreciate</u> that you have come visit my site!
            </p>
            <p>
                And I am so apologize that this website that I have create is still on the <strong>test mode</strong> and doesn't have much content in it, so something that I have wrote in here there may or may-not givin' you much of what you've been expecting in. if it so you know that I will say sorry for that<br />
            Thank you so much again for visiting!
            </p>
            <p style="text-align:right;">
                Best regard 
            </p>
            <p style="text-align:right;">
                Your friend <strong>Farook</strong>  <i><?php echo $admin_email;?></i>
            </p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">It's is still in the test.</a>
          </div>
        </div>
      </div>
    </header>
