<div class="container">
  <div class="list-group">
    <a class="list-group-item" href="<?php echo site_url("admin");?>">Home</a>
  </div>
  <div class="list-group">
    <a class="list-group-item" href="<?php echo site_url("tour");?>">Tour</a>
  </div>
  <div class="list-group">
    <a class="list-group-item" href="<?php echo site_url("users");?>">Manage User</a>
  </div>
  <div class="list-group">
    <a class="list-group-item" href="<?php echo site_url("booking");?>">Manage Booking</a>
  </div>
</div>