
<section id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">
                    Contact our team ติดต่อทีมงาน
                </h1>
                <p class="pt-4">&nbsp;</p>
                <?php 

                        $far_img = site_url("public/img/Contact/Farook_wed-19-Sep-2018.png");

                        $tom_img = site_url("public/img/Contact/Tom_wed-19-Sep-2018.png");
                        $tee_img = site_url("public/img/Contact/Tee_wed-19-Sep-2018.png");
                ?>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="<?php echo $far_img;?>" class="card-img-top responsive" alt="farook">
                    <div class="card-header">
                        <h1 class="text-center">
                            Farook
                        </h1>
                        
                    </div>
                    <div class="card-body">
                        
                        <p>
                            Tel. +66 81 397 4489 or +66 95954 39207&nbsp; </p><p style="color:white;"><span style="color:white;" class="badge badge-warning">do not make a call but please text me.</span>
                        </p>
                        <p>
                            E-mail : farookphuket@gmail.com
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="float-right">
                            <a href="https://hangouts.google.com/group/5IMnME8WHmcL1umD3" title="Talk to farook in Hangout as a group chat" class="btn btn-info btn-sm" target="_blank">Hangout Chat</a>
                            
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="<?php echo $tom_img;?>" class="card-img-top responsive" alt="tom">
                    <div class="card-header">
                        <h1 class="text-center">
                            Tom
                        </h1>
                        
                    </div>
                    <div class="card-body">
                        <p>
                            Tel. +66  862 2432589
                        </p>
                        <p>
                            E-mail : 
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="float-right">
                            <a href="https://hangouts.google.com/group/5IMnME8WHmcL1umD3" title="Talk to farook in Hangout as a group chat" class="btn btn-info btn-sm" target="_blank">
                                Hangout Chat
                            </a>
                            <a class="btn btn-primary btn-sm btnFBContact" href="https://m.me/nipon.pannoi" target="_blank">
                             Tom facebook 
                            </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


    <!-- Tee -->
            <div class="col-lg-4">
                <div class="card">
                    <img src="<?php echo $tee_img;?>" class="card-img-top responsive" alt="tee">
                    <div class="card-header">
                        <h1 class="text-center">
                            Tee
                        </h1>
                        
                    </div>
                    <div class="card-body">
                        <p>
                            Tel. 
                        </p>
                        <p>
                            E-mail : 
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="float-right">
                            
                            
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Tee -->
            <div class="col-lg-12">
                <p class="pt-5">&nbsp;</p>
            </div>
            <div class="col-lg-12">
                <h1 class="text-center">
                F.A.Q
                    <span class="badge badge-success numAll">0</span> item(s).
                </h1>
                <p class="pt-5">&nbsp;</p>
                <div class="faq_list"></div>
                <div class="faq_pagin"></div>
            </div>
            <div class="col-lg-12">
                <p class="pt-5">&nbsp;</p>
            </div>
            <div class="col-lg-12">
                <h1 class="text-center">Ask your question</h1>
                <p class="pt-4">&nbsp;</p>
                <div class="row">
                    <div class="col-md-5">
                        <div class="alert alert-warning">
                            <p>
                                <strong>Dear friend</strong>&nbsp;
                                before you start typing anything I want you to know that I am very appreciate to having you here visiting us.
                            </p>
                            <ul>
                                <li>Your message will be not show please wait for us to approve it.</li>
                            </ul>

                        </div>
                    </div>
                    <!-- Thai start -->
                    <div class="col-md-5">
                        <div class="alert alert-warning">
                            <p>
                                <strong>ถึงทุกๆ ท่านที่เคารพ</strong>&nbsp;
                                ก่อนที่ท่านจะเริ่มพิมพ์ข้อความใดๆ นั้น เราอยากบอกท่านว่าเรารู้สึกเป็นเกียรติอย่างยิ่ง ที่ท่านเข้ามาเยี่ยมชมเรา
                            </p>
                            <ul>
                                <li>ทุกท่านครับ ข้อความของท่านยังไม่ "ปรากฏ" ในหน้านี้ กรุณารอให้ทางเราได้ "พิสูจน์" ข้อความของท่านก่อน</li>
                            </ul>

                        </div>
                    </div>
                    <!-- Thai End -->
                </div>
            </div>
            <div class="col-lg-12">
            <!-- form start --> 
                <?php 
                    $f = "faq/_frm_visitor";
                    $this->load->view($f);
                ?>
            <!-- end form -->
            </div>
            
            <div class="col-lg-12 faqResult">
                
            </div>
        </div>
    </div>

</section>


<script>
$(function(){
    const $PL = $("#faq");

    const $page_status = $(".status");

    const $faq = (function(){

        const $faq_list = getEl(".faq_list");
        const $faq_pagin = getEl(".faq_pagin");
        const $numAll = getEl(".numAll");

        /*
            * user have to confirm that he is the real user not a robot so we need the user session
         */
        let ln_request = getEl(".ln_request");


        //---- this user has been confirm and get the session
        let real_human = "<?php echo $this->session->userdata("real_human"); ?>";
        let sess_name = "<?php echo $this->session->userdata("sess_name"); ?>"; 

        let sess_email = "<?php echo $this->session->userdata("sess_email"); ?>"; 
        
        let action_code = "<?php echo $this->session->userdata("action_code"); ?>"; 
        

        let sess_ip = "<?php echo $this->session->userdata("sess_ip"); ?>"; 

        //------------------------------------


        let $frm = getEl("#frm_contact");
        let faq_name = getEl(".faq_name");
        let faq_email = getEl(".faq_email");
        let faq_id = getEl(".faq_id");
        let faq_title = getEl(".faq_title");
        let faq_body = getEl(".faq_body");
        let $faqResult = getEl(".faqResult");
        let btnSave = getEl(".btnSave");
        //----getFaqList
        function getFaqList(page=1){
            $faq_list.html("");
            let url = "<?php echo site_url("faq/getFaqList/"); ?>"+page;
            
            $.ajax({
                url : url,
                    success : (e)=>{
                    let rs = $.parseJSON(e);
                    //console.log(rs);
                    $numAll.html(rs.get_all.length);
                    $.each(rs.get_all,(i,v)=>{
                    let tmp = `<div class="card">
    <div class="card-header">
        <h1>${v.faq_title}</h1>
        <p>${v.faq_name} > ${v.faq_date}</p>
    </div>
    <div class="card-body">
        ${v.faq_body}
    </div>
    <div class="card-footer">
        <div class="float-right">
            <span>IP : ${v.faq_ip}</span>
        </div>
    </div>
</div><p>&nbsp;</p>`;
                    $faq_list.append(tmp);
                    }); 
            }
            });
        }
        //----------------------
       

        
        //---- getMyFaq
        function getMyFaq(code){
            let url = "<?php echo site_url("faq/getMyFaq/"); ?>"+code;
            //alert(`url is ${url}`);
            $.ajax({
                url : url,
                    success : (e)=>{
                    console.log(e);
                    let rs = $.parseJSON(e);
                    $.each(rs.get,(i,v)=>{
                        faq_id.val(v.faq_id);
                            if(!v.faq_title.length){
                                faq_title.attr("placeholder","Enter your title").focus();
                            
                            }else{
                                faq_title.val(v.faq_title);
                            }
                        if(!v.faq_body.length){
                            faq_body.attr("placeholder",`dear ${sess_name} ,we will get back to you as soon as possible.`);
                        }else{
                            faq_body.val(v.faq_body);
                        }
                    });
            }
            });

        }
        //----------
        //---   sentRequest 
        function sentRequest(){
            if(!faq_name.val() || !faq_email.val()){
                alert("Error : the field is required");
            }else{

                let url = "<?php echo site_url("faq/isRealUser"); ?>";
                let data = {
                faq_name : faq_name.val(),
                faq_email : faq_email.val()                
                };
                $.ajax({
                    type : "post",
                        url : url,
                        data : data,
                        success : (e)=>{
                        let rs = $.parseJSON(e);
                        console.log(rs);
                        setTimeout(()=>{
                            location.reload();
                        },20000);

                }

                });
                
            
            }
        }
        //-------------------
        //---   userHasConfirm
        function userHasConfirm(){
            faq_name.val(sess_name);            
            faq_email.val(sess_email);            
            //faq_id.val();
        }
        //---- faqSave
        function faqSave(){
            btnSave.unbind();
            $frm.submit(function(e){
                e.preventDefault();
                let url = $(this).attr("action");
                let data = $(this).serialize()+"&action_code="+action_code;
                $.post(url,data,function(e){
                    let rs = $.parseJSON(e);
                    //console.log(rs); 
                    $page_status.html(rs.msg).show();
                    setTimeout(()=>{
                    $page_status.html("loading...").fadeOut("slow");
                    getSummary();
                    },4000);
                });
            });
        }
        //---------------
        function getSummary(){
            getFaqList();
            getMyFaq(action_code);
            if(!real_human || parseInt(real_human) === 0){
                let ck_time = setInterval(()=>{
                //console.log(`There is no confirm!`);
            },20000);
            }else{
                //console.log(`No longer unidentifying... the real human is ${real_human} ha ha`);
                ln_request.html(`Action Code : ${action_code}`).unbind().prop("disabled",true);
                userHasConfirm();
            }
        }
        function getEl(el){
            return $PL.find(el);
        }
        function getEvent(){
            getSummary();

            
            //--- ln_request
            ln_request.on("click",function(e){
                e.preventDefault();
                sentRequest();
            });

            //--- sent faq
            btnSave.on("click",function(){
                faqSave();
            });

        }
        return{getEvent:getEvent}
    })();
    $faq.getEvent();

});


</script>
