
<section id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">
                    Contact our team ติดต่อทีมงาน
                </h1>
                <p>&nbsp;</p>
                <?php 

                        $far_img = site_url("public/img/Contact/Farook_wed-19-Sep-2018.png");

                        $tom_img = site_url("public/img/Contact/Tom_wed-19-Sep-2018.png");
                        $tee_img = site_url("public/img/Contact/Tee_wed-19-Sep-2018.png");
                ?>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="<?php echo $far_img;?>" class="card-img-top responsive" alt="farook">
                    <div class="card-header">
                        <h1 class="text-center">
                            Farook
                        </h1>
                        
                    </div>
                    <div class="card-body">
                        
                        <p>
                            Tel. +66 81 397 4489 or +66 95954 39207&nbsp; do not make a call but please text me.
                        </p>
                        <p>
                            E-mail : farookphuket@gmail.com
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="float-right">
                            <a href="https://hangouts.google.com/group/5IMnME8WHmcL1umD3" title="Talk to farook in Hangout as a group chat" class="btn btn-info btn-sm" target="_blank">Hangout Chat</a>
                            
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="<?php echo $tom_img;?>" class="card-img-top responsive" alt="tom">
                    <div class="card-header">
                        <h1 class="text-center">
                            Tom
                        </h1>
                        
                    </div>
                    <div class="card-body">
                        <p>
                            Tel. +66  862 2432589
                        </p>
                        <p>
                            E-mail : 
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="float-right">
                            <a href="https://hangouts.google.com/group/5IMnME8WHmcL1umD3" title="Talk to farook in Hangout as a group chat" class="btn btn-info btn-sm" target="_blank">
                                Hangout Chat
                            </a>
                            <a class="btn btn-primary btn-sm btnFBContact" href="https://m.me/nipon.pannoi" target="_blank">
                             Tom facebook 
                            </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="<?php echo $tee_img;?>" class="card-img-top responsive" alt="tee">
                    <div class="card-header">
                        <h1 class="text-center">
                            Tee
                        </h1>
                        
                    </div>
                    <div class="card-body">
                        <p>
                            Tel. 
                        </p>
                        <p>
                            E-mail : 
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="float-right">
                            
                            
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-12">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
            <div class="col-lg-12">
                <h1 class="text-center">
                F.A.Q
                </h1>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <div class="faq_list"></div>
                <div class="faq_pagin"></div>
            </div>
            <div class="col-lg-12">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
            <div class="col-lg-12">
                <p>&nbsp;</p>
                <h1 class="text-center">Ask your question</h1>
                <p>&nbsp;</p>
                <div class="row">
                    <div class="col-md-5">
                        <div class="alert alert-warning">
                            <p>
                                <strong>Dear friend</strong>&nbsp;
                                before you start typing anything I want you to know that I am very appreciate to having you here visiting us.
                            </p>
                            <ul>
                                <li>Your message will be not show please wait for us to approve it.</li>
                            </ul>

                        </div>
                    </div>
                    <!-- Thai start -->
                    <div class="col-md-5">
                        <div class="alert alert-warning">
                            <p>
                                <strong>ถึงทุกๆ ท่านที่เคารพ</strong>&nbsp;
                                ก่อนที่ท่านจะเริ่มพิมพ์ข้อความใดๆ นั้น เราอยากบอกท่านว่าเรารู้สึกเป็นเกียรติอย่างยิ่งท่านเข้ามาเยี่ยมชมเรา
                            </p>
                            <ul>
                                <li>ทุกท่านครับ ข้อความของท่านยังไม่ "ปรากฏ" ในหน้านี้ กรุณารอให้ทางเราได้ "พิสูจน์" ข้อความของท่านก่อน</li>
                            </ul>

                        </div>
                    </div>
                    <!-- Thai End -->
                </div>
            </div>
            <div class="col-lg-12">
            <!-- form start --> 
                <?php 
                    $f = "faq/_frm_visitor";
                    $this->load->view($f);
                ?>
            <!-- end form -->
            </div>
            
        </div>
    </div>

</section>


<script>
    $(function(){
        var $f = $("#faq");

        var faq = (function(){

            var $faq_list = getEl(".faq_list");
            var $faq_pagin = getEl(".faq_pagin");

            var $frm = getEl("#frm_contact");
            var faq_id = getEl(".faq_id");
            var faq_name = getEl(".faq_name");
            var faq_email = getEl(".faq_email");
            var faq_title = getEl(".faq_title");
            var faq_body = getEl(".faq_body");
            var btnSave = getEl(".btnSave");
            var modal_status = getEl(".modal_status");

            function getFaqList(page=1){
                $faq_list.html("");
                var url = "<?php echo site_url("faq/getFaqList/");?>"+page;
                $.ajax({
                    url : url,
                    success : function(e){
                        var rs = $.parseJSON(e);
                        $.each(rs.get_faq,function(i,v){

                            var tmp = `
                            <div class="card">
                                <div class="card-header">
                                    <h1 class="text-center">
                                        ${v.faq_title}
                                    </h1>&nbsp;
                                    By : 
                                    <span class="badge badge-success">${v.faq_name}</span>
                                </div>
                                <div class="card-body">
                                    ${v.faq_body}
                                </div>
                                <div class="card-footer">
                                    <p>
                                        Date : ${v.faq_date}&nbsp;
                                        time : ${v.faq_time}
                                    </p>
                                </div>
                            </div>
                            <p>&nbsp;</p>
                            `;
                            $faq_list.append(tmp);
                        });
                        if(rs.pagination){
                            $faq_pagin.html(rs.pagination);
                        }
                        
                    }
                });
            }
            //-------------
            //----frmEmp
            function frmEmp(){
                faq_title.attr("placeholder","Your title *required").val("");
                faq_body.attr("placeholder","Your message *required").val("");
                faq_name.attr("placeholder","Your Name *required").val("");
                faq_email.attr("placeholder","Your e-mail *required").val("");
                faq_id.val(0);
            }
            //-------------------
            //---getMyFaq
            function getMyFaq(){
                $frm.trigger("reset");
                var url = "<?php echo site_url("faq/getMyFaq");?>";
                $.ajax({
                    url : url,
                    success : function(e){
                        var rs = $.parseJSON(e);
                        var num = parseInt(rs.get.length);
                        if(num !== 0){
                            $.each(rs.get,function(i,v){
                                faq_title.val(v.faq_title);
                                faq_body.val(v.faq_body);
                                faq_name.val(v.faq_name);
                                faq_email.val(v.faq_email);
                                faq_id.val(v.faq_id);
                            });
                        }else{
                            frmEmp();
                            
                        }
                        
                    }
                });
            }
            //---------------
            //-----saveMyFaq
            function saveMyFaq(){
                btnSave.unbind();
                modal_status.html("");
                $frm.submit(function(e){
                    e.preventDefault();
                    var url = $(this).attr("action");
                    var data = $(this).serialize();
                    $.post(url,data,function(e){
                        console.log(e);
                        var rs = $.parseJSON(e);
                        modal_status.html(rs.msg).show();
                        setTimeout(function(){
                            modal_status.html("loading...").fadeOut("slow");
                            getSummary();
                        },3000);
                    });
                });
            }

            //------------
            function getSummary(){
                getFaqList();
                getMyFaq();
            }
            //-----------
            function getEl(el){
                return $f.find(el);
            }
            //---------
            function getEvent(){
                getSummary();

                //---pagination click
                $faq_pagin.delegate(".pagination a","click",function(e){
                    e.preventDefault();
                    var page = $(this).attr("data-ci-pagination-page");
                    getFaqList(page);
                });

                //---btnSave click
                btnSave.on("click",function(){
                    saveMyFaq();
                });

            }
            return{getEvent:getEvent}
        })();
        faq.getEvent();
    });

</script>
