<section id="product">
  <div class="container">
  <div class="row">
    <div class="col-lg-12">
        <h1 class="text-center">Product category</h1>
            <p class="pt-3">&nbsp;</p>            
            <ul class="nav nav-pills flex-column">
<?php
        if($get_cat):
            //var_dump($get_cat);
            $cat_title = "";
            $cat_section = "";
            $cat_id = "";
            foreach($get_cat as $row):
                $cat_title = $row->cat_title;
                $cat_section = $row->cat_section;
                $cat_id = $row->cat_id;
?>

    <li class="nav-item">
        <p>
            <a class="nav-link " data-cat_id="<?php echo $row->cat_id; ?>" href="<?php echo $row->cat_id; ?>">
        <?php echo"{$cat_section} >> {$cat_title} >> {$row->cat_des}"; ?>
            </a>
        </p>
    </li>


<?php
                endforeach;
            endif;
?>
                
                </ul>
            </div>

            <div class="col-lg-12">
                <p class="pt-4">&nbsp;</p>
            </div>
            <div class="col-lg-12">
                <div class="pd_list">
                    
                </div>
                <div class="pd_pagin">
                    
                </div>
            </div>

  </div>
  
  </div>


</section>
<script charset="utf-8">
    $(function(){
        const $P = $("#product");
        const $pr = (function(){

            let $pd_list = getEl(".pd_list");
            let $pd_pagin = getEl(".pd_pagin");

            //---   getProductList 
            function getProductList(page=1){
                $pd_list.html("");
                let url = "<?php echo site_url("product/getProductList/"); ?>"+page;
                $.ajax({
                    url : url,
                        success : (e)=>{
                        let rs = $.parseJSON(e);
                        //console.log(rs);
                        $.each(rs.get_p,(i,v)=>{
                            
                             let tmp = `<div class="card">
    <div class="card-header">
        <h1 class="text-center">
            ${v.pd_title}
        </h1>
        <div class="float-right">
        <p class="">
            ${v.cat_section} >> ${v.cat_des}
        </p>
        </div>
    </div>
    <div class="card-body">
       ${v.pd_summary} 
    </div>
    <div class="card-footer">
        <div class="float-right">
            <a class="btn btn-primary lnRead" data-pd_id="${v.pd_uniq_id}">
                See More
            </a>
        </div>
    </div>
</div><p class="pt-2">&nbsp;</p>`;

                    $pd_list.append(tmp);

                        });
                       
                }
                });
            }
            //-----------------
            //---   productRead
            function productRead(id){
                let url = "<?php echo site_url("product/detail/"); ?>"+id;
               window.open(url,"_blank"); 
            }
            //------------------
            function getSummary(){
                getProductList();
            }

            function getEl(el){
                return $P.find(el);

            }
            function getEvent(){
                getSummary();    

                $pd_list.delegate(".lnRead","click",function(){
                    let id = $(this).attr("data-pd_id");
                    productRead(id);
                });
            }
            return{getEvent:getEvent}
        })();
        $pr.getEvent();
    }); 
</script>
