  <?php 
      foreach($get_ar as $row):
  ?>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
              <div class="card">
                <div class="car-header">
                    <h2 class="text-center">
                        <?php echo $row->ar_title;?>
                    </h2>
                </div>

                <div class="card-body">
                  
                  <div class="row">
                    <div class="col-lg-9">
                        <?php echo $row->ar_summary;?>
                    </div>
                    <div class="col-lg-3">
                        <div class="table-resposive">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Create By</th>
                                    <td>
                                        <?php echo $row->ar_post_by;?>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Create Date</th>
                                     <td>
                                        <?php echo $row->date_add ;?>
                                      </td>
                                </tr>
                                  <tr>
                                     <th>Last Edit</th>
                                       <td>
                                          <?php echo $row->date_edit ;?>
                                       </td>
                                    </tr>
                                    <tr>
                                        <th>has read</th>
                                        <td>
                                           <?php echo $row->ar_read_count ;?>
                                          </td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                        <div class="container">
                            <?php echo $row->ar_body;?>
                        </div>
                        
                    </div>
                  </div>
                </div>
              </div>
          </div>      

            <br style="clear:both" />
            
                <?php
                    $this->load->view("comment/comment_index.php");
                ?>
              
            
    </div>             
</div>          

<?php endforeach;?>