<form class="form-horizontal" action="<?php echo site_url("comment/saveComment");?>" id="commentForm">
            <!--comment user name-->
            <div class="form-group">
                <label for="c_user_name">Name</label>
                <input type="text" name="c_user_name" class="form-control c_user_name" required minlength="4">
                <input type="hidden" class="c_id" name="c_id">
                <input type="hidden" class="comment_url" name="comment_url" value="<?php echo current_url();?>">

            </div>

            <!--comment user email-->
            <div class="form-group">
                <label for="c_user_email">Email</label>
                <input type="email" name="c_user_email" class="form-control c_user_email" required>
                <p>Your email will not show to public | email ของคุณจะไม่แสดงต่อสาธารณะ</p>

            </div>


            <!--comment title-->
            <div class="form-group">
                <label for="c_title">Title</label>
                <input type="text" name="c_title" class="form-control c_title" required>


            </div>

            <!--comment body-->
            <div class="form-group">
                <label for="c_body">Comment</label>
                <textarea name="c_body" class="form-control c_body" required minlength="30" rows="9"></textarea>

            </div>
            <div class="form-group">
              <label for="notice_owner">&nbsp;</label>
              <input type="checkbox" name="notice_owner" class="notice_owner" id="notice_owner">&nbsp;Yes ,Sent notification to the post owner? (ใช่ ฉันต้องการแจ้งเตือนเจ้าของโพส?)
            </div>
            <div class="commentResult">

            </div>
            <!--button area-->
            <div class="form-group">
                <div class="float-right">
                  <button class="btn btn-primary btnSave" type="submit" form="commentForm">
                      Comment
                    </button>
                </div>

            </div>
            <p>&nbsp;</p>



        </form>
